@font-face {
    font-family: 'mongolian_baitiregular';
    src: url('../font/monbaiti-webfont.eot');
    src: url('../font/monbaiti-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/monbaiti-webfont.woff') format('woff'),
         url('../font/monbaiti-webfont.ttf') format('truetype'),
         url('../font/monbaiti-webfont.svg#mongolian_baitiregular') format('svg');
    font-weight: normal;
    font-style: normal;
}